body{
    font-family: arial, Arial, Helvetica, sans-serif;
    background-color: #488da1;
}
header{
    width: 100%;
    height: 500px;
    text-align: center;
    position: fixed;
    top: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}
header h1{
    font-size: 42px;
    color: white;
    line-height: 230px;
    font-weight: 300;
    transition: all 0.3s ease;
    
}
header h1 i{
    font-weight: bold;
    text-transform: uppercase;
}
.menu{
    list-style: none;
    padding: 0;
    background-color: black;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a:hover{
    background-color: coral;
}

h2{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 2;
    
}
p{
    margin-bottom: 2rem;
    line-height: 2;

}
.wrapper{
    max-width: 800px;
    margin: 0 auto;
}

section{
    margin: 10px;
    padding: 20px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

